.search-dropdown{
    position:relative;
    width:100%;
}

.dropdown-list{

    display:none;

    position:absolute;

    top:100%;

    left:0;

    width:100%;

    background:#fff;

    border:1px solid #d9e2ef;

    border-radius:10px;

    max-height:250px;

    overflow-y:auto;
	
	overflow:auto;

    z-index:9999;

    box-shadow:
    0 4px 10px rgba(0,0,0,.08);
}


.dropdown-item{

    padding:12px 14px;

    cursor:pointer;

    transition:0.2s;
}

/* Hover */

.dropdown-item:hover{

    background:#17365d;

    color:#fff;
}

/* Selected */

.dropdown-item.selected{

    background:#17365d;

    color:#fff;

    font-weight:600;
}

.dialog-content{
    overflow:visible;
}

.dialog-table-wrapper{
    overflow:visible;
}

.dialog-table{

    overflow:visible !important;

}

.dialog-table tr{

    overflow:visible !important;

}

.dialog-table td{

    overflow:visible !important;

}

@media(max-width:768px){

.topbar{

    display:grid;

    grid-template-columns:
    1fr 1fr;

    gap:12px;

}

.topbar > *{

    width:100%;

    min-width:0;

}

#addBtn{

    grid-column:1 / -1;

}

}

@media(max-width:768px){

.dialog-table thead{

    display:none;

}

.dialog-table,
.dialog-table tbody,
.dialog-table tr,
.dialog-table td{

    display:block;
    width:100%;

}

.dialog-table tr{

    background:#fff;

    border:1px solid #e5e7eb;

    border-radius:12px;

    padding:10px;

    margin-bottom:12px;

}

.dialog-table td{

    padding:6px 0;

    border:none;

}

.dialog-table td::before{

    display:block;

    font-size:12px;

    font-weight:600;

    color:#64748b;

    margin-bottom:4px;

}

.dialog-table td:nth-child(1)::before{
    content:"Item Used";
}

.dialog-table td:nth-child(2)::before{
    content:"Unit/HA";
}

.dialog-table td:nth-child(3)::before{
    content:"CTN";
}

.dialog-table td:nth-child(4)::before{
    content:"PCS";
}

.dialog-table td:nth-child(5)::before{
    content:"VOL";
}

.dialog-table td:nth-child(6)::before{
    content:"Action";
}

}